.mi-boton {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.1s;
}

.mi-boton:active {
  transform: scale(0.95); /* Efecto de presionar */
}

/* ESTILO 1: El botón importante (Guardar, Añadir) */
.primario {
  background: linear-gradient(90deg, #00c6ff, #0072ff); /* Degradado chulo */
  color: white;
  box-shadow: 0 4px 15px rgba(0, 114, 255, 0.3);
}

/* ESTILO 2: El botón discreto (Cancelar, Volver) */
.secundario {
  background: transparent;
  border: 1px solid #555;
  color: #ccc;
}
.secundario:hover {
  border-color: white;
  color: white;
}