.boton-like-profe {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px; /* Un poco de espacio arriba */
}

.boton-like-profe:active {
    background: rgba(255, 255, 255, 0.2);
}